.login-form {
    border: 1px solid #FFEED9;
    border-radius: 10px;
    max-width: 800px;

    height: auto;
    width: 80%;

    margin: 10% auto;
    padding: 20px;

    background-color: #ae8106;
}

.login-form-control {
    margin: 30px auto;
    padding: 10px auto;
    width: 90%;
}

.login-form-control input {
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
}

.login-form .login-button {
    display: flex;
    justify-content: center;
}

.login-form .login-button button {
    background-color: rgb(25, 107, 31);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 5vh;
}

.login-form button {
    background-color: rgb(25, 107, 31);
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 10px
}

.login-form .buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.login-form .kakao-login-button {
    display: flex;
    justify-content: center;
}